.order-navbar a {
    cursor: pointer !important;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.25rem;
    color: #b8bcd1;
    padding-bottom: 0.2rem;
}
.order-navbar a:hover {
    transform: scale(1) !important;
    color: #22348a;
}
.icon {
    line-height: 0;
}
.active {
    color: #0e153a !important;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #0e153a;
}
