.container {
    max-width: 80%;
    margin: auto;
    padding: 1em 0;
}
.card {
    margin-right: 1em;
    /* margin-top: 0.2em;
    margin-bottom: 0.2em; */
    /* width: 20em;
    /*cursor: pointer; */
}
/* .right-height {
    max-height: 36em;
} */
