.container {
    max-width: 80%;
    margin: auto;
    /* padding: 2em 0; */
    padding-bottom: 1em;
}
footer a:hover {
    color: white;
    opacity: 1;
}
footer a {
    transition: all 0.4s ease;
}
.bottom-details a {
    font-weight: 400;
}
footer li {
    list-style-type: none !important;
}
