.dot {
    height: 20px;
    width: 20px;
    background: "gray";
    border-radius: 50%;
    position: relative;
}
.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: #d4d4d4;
}
.line::before {
    content: "Or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #8b8b8b;
    padding: 0 15px;
}
